@font-face {
  font-family: akira;
  src: url(font/akira.otf);
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
html, body, section {
  block-size: 100%;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  
}
body{
  position: relative;
  height: 100%;
  touch-action: pan-y;
  overflow-x: hidden;
  margin: 0;
}
.h-1{
  font-size: 20vw;
  font-family: akira;
  color: #B6E6FF;
}
@media only screen and (max-width: 720px)
{
  .h-1{
    font-size: 28vw;
  }
}
.box1{
  position: relative;
  left: 0;
  right: 0;
}
.box2{
  position: relative;
  left: 0;
  right: 0;
}
.h-2{
  position: absolute;
  font-size: 35vw;
  font-family: akira;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #B6E6FF;
  fill: none;
  opacity: 80%;
  color: transparent;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: none;
  touch-action: none;
  -ms-touch-action: none;
}
@media only screen and (max-width: 720px)
{
  .h-2{
    font-size: 40vw;
  }
  .box1{
    padding-top: 10%;
  }
}
.cartoon-img{
  position: absolute;
  top: 4vw;
  z-index: 1;
  width: 30vw;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 720px)
{
  .cartoon-img{
    top: 30vw;
    width: 90%;
  }
}
.h-3{
  font-size: 35px;
  font-family: akira;
  color: #959595;
}
.iam{
  font-size: px;
  font-family: akira;
  color: #959595;
}
.box3{
  margin-top: 20%;
  position: relative;
  display: block;
  left: 0%;
  right: 0%;
}
@media only screen and (max-width: 720px)
{
  .box3{
    margin-top: 85%;
  }
}
.profile-img{
  width: 250px;
  border-radius: 100%;
}
.profile-div{
  padding-top: 10%;
}
@media only screen and (max-width: 720px)
{
  .profile-img{
    width: 50%;
  }
  .profile-div{
    padding-top: 20%;
  }
}
.h-4{
  font-size: 35px;
  font-family: akira;
  color: #959595;
  padding: 0%;
  margin: 10px;
}
@media only screen and (max-width: 720px)
{
  .h-4{
    font-size: 20px;
  }
}

ul{
  display: inline-block; 
	text-align: left; 
  list-style-type: none;
  font-family: arial;
  letter-spacing: 0.15em;
  color: #959595;
  font-size: 1.2vw;
  margin: 0%;
  padding: 0%;
}
@media only screen and (max-width: 720px)
{
  ul{
    font-size: 15px;
  }
}
.social{
    text-align: center;
}


.arrows {
	width: 60px;
	height: 72px;
	position: fixed;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #00a6ff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}